{% extends "base.html.twig" %}

{% block title %} Page non trouvée {% endblock %}

{% block body %}
<link rel="stylesheet" href="/navbar.css" type="text/css" media="screen">
<style>
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h1 {
    color: white;
    text-align: center;
    justify-content: center
}
p {
    color: white;
    text-align: center;
    justify-content: center
}
</style>
<h1> Acces Interdit </h1><br>
<p>Vous n'etes pas administrateur, vous ne pouvez donc pas acceder a cette page. </p> 
{% endblock %}